<div class="observation-section grouped-obs" style="background-color:var(--bg-color);">
	<div class="section-body">
		<div class="observations pr-1">
				{% if (observation_details[observation_details.observation] && observation_details[observation_details.observation].length>0) { %}
				<div class="">
						<div class="flex" style="padding-bottom: 10px;">
								<b>
									<a href="/app/observation/{{ observation_details.observation }}" title="{{ __('Grouped Observations') }}">
										{%= observation_details.display_name %}
									</a>
								</b>
								<div style="padding-left: 5px;">
									<a href="/app/healthcare-practitioner/{{ observation_details.healthcare_practitioner }}" title="{{ __('Practitioner') }}">
										{% if (observation_details.practitioner_name) { %}
											{%= observation_details.practitioner_name %}
										{% } else { %}
											{%= observation_details.healthcare_practitioner %}
										{% } %}
									</a>
								</div>
						</div>
						{% for(var j=0, k=observation_details[observation_details.observation].length; j<k; j++) { %}
						{% var child_obs = observation_details[observation_details.observation][j] %}
							{% if (child_obs.observation || child_obs.template_reference) { %}
								<div class="observation" name="{{ child_obs.observation.name }}" addatatype="{{ child_obs.observation.permitted_data_type }}" style="background-color:var(--modal-bg);">
									<div class="observation-details row" style="width: 100%;">
										<div class="observation-name" id="observation-name" style="width: 20%; vertical-align: middle !important;" value="{{child_obs.observation.name}}">
											<a href="/app/observation/{{ child_obs.observation.name }}" title="{{ __('Observation') }}">
												{% if (child_obs.template_reference.preferred_display_name) { %}
													{%= child_obs.template_reference.preferred_display_name %}
												{% } else { %}
													{%= child_obs.observation.observation_template %}
												{% } %}
											</a>
										</div>
										<div style="width: 19%;">
											<div class="">
												{% if (child_obs.observation.specimen) { %}
												<a href="/app/specimen/{{ child_obs.observation.specimen }}" title="{{ child_obs.observation.specimen }}">
													{%= child_obs.observation.specimen %}
												</a>
												{% } %}
											</div>
											<div class="text-muted" style="font-size: 10px;" >
												{% if (child_obs.observation.received_time) { %}
													{{ frappe.datetime.global_date_format(child_obs.observation.received_time) }}
												{% } %}
											</div>
										</div>
										{% if( ['Range', 'Ratio', 'Quantity', 'Numeric', 'Select', 'Text'].includes(child_obs.observation.permitted_data_type)) { %}
										<div class="result obs-field" style="padding-left:30px; padding-right:10px; width: 20%;">
											{% if( ['Range', 'Ratio', 'Quantity', 'Numeric'].includes(child_obs.observation.permitted_data_type)) { %}
												<div class="">
													<input class="input-with-feedback form-control result-text" type="text" id="{{child_obs.observation.name}}" name="fname" size="6" value="{{ child_obs.observation.result_data }}">
											{% } else if (child_obs.observation.permitted_data_type=='Text') { %}
											<div class="">
												<input class="input-with-feedback form-control result-text" type="text" id="{{child_obs.observation.name}}" name="fname" size="6" value="{{ child_obs.observation.result_text }}">
											{% } else if (child_obs.observation.permitted_data_type=='Select') { %}
												<div class="control-input" style="display: flex;">
													<select class="input-with-feedback form-control ellipsis result-text" style="float:left" data-fieldtype="Select" id="{{child_obs.observation.name}}">
														<option value="Null"></option>
														{% for (let opts in child_obs.observation.options_list) { %}
															{% if (child_obs.observation.options_list[opts]) { %}
																{% var selected = "" %}
																{% if (child_obs.observation.options_list[opts] == child_obs.observation.result_select) { %}
																	{% selected = "selected" %}
																{% } %}
																<option value="{{child_obs.observation.options_list[opts]}}" {{ selected }}>{{child_obs.observation.options_list[opts]}}</option>
															{% } %}
														{% } %}
													</select>
													<div class="select-icon obser-select">
														<svg class="icon  icon-sm" style="margin-top: 7px;">
															<use class="" href="#icon-select"></use>
														</svg>
													</div>
											{% } %}
											</div>
											<div class="text-muted" style="font-size: 10px; padding-left: 25px;">
												{% if (child_obs.observation.time_of_result) { %}
													{{ frappe.datetime.global_date_format(child_obs.observation.time_of_result) }}
												{% } %}
											</div>
										</div>
										{% } %}
										<div style="width: 7%;">
											{% if (child_obs.template_reference) { %}
												{%= child_obs.template_reference.permitted_unit %}
											{% } %}
										</div>
										<div style="width: 20%;">
											{% if (child_obs.template_reference) { %}
												{%= child_obs.template_reference.method %}
											{% } %}
										</div>
										<div style="width: 11%;">
											{% if (child_obs.template_reference.display_reference) { %}
												{{child_obs.template_reference.display_reference}}
											{% } %}
										</div>
								</div>
								<div style="width: 100%; padding: 0px; padding-bottom:10px; padding-top:10px; display: flex;">
									<div style="width: 10%;">
										<span class="add-note-observation-btn btn btn-link">
											<svg class="icon icon-sm"><use xlink:href="#icon-small-message"></use></svg>
										</span>
									</div>
									{% if (child_obs.observation.note) { %}
										<div class="note">
											{{child_obs.observation.note}}
										</div>
									{% } %}
							</div>
							</div>
							{% } %}
						{% } %}
						</div>
				{% } %}
		</div>
	</div>
</div>
	</div>


<style>
.observation-section {
	padding-left: 0px;
	padding-bottom: 1px !important;
}

.observation-section .new-btn {
	text-align: right;
}

.observation {
	border: 1px solid var(--border-color);
	padding-right: 0;
	font-size: 11px;
	padding-left: 15px;
	padding-top: 15px;
	margin-bottom: 5px;
	margin-right: 15px;
	border-radius: 10px;
}
.grouped-obs {
	min-height: 90px;
	border: 1px solid var(--border-color);
	padding-right: 0;
	font-size: 11px;
	padding-left: 15px;
	padding-top: 5px;
	border-radius: 10px;
	margin-bottom: 5px;
}

.observations {
	width: 100%;
}

.observation-details {
	padding-left: 14px;
	padding-right: 14px;
}
.obs-field {
	padding-top: 5px;
}

.textresult-text {
	height: 100px;
	margin-right: 15px;
	padding-top: 5px;
}

.note {
	width: 85%;
	float:right;
	background-color: #f4f5f6;
	padding: 5px;
	border-radius: 10px;
}

.obser-select{
	float:right;
	background-color: var(--control-bg);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: -2px;
}

</style>