<div class="observation-section">
	<div class="section-body">
		<div class="observations pr-1">
				{% if (observation_details.observation || observation_details.template_reference) { %}
					<div class="observation" style="width: 100%;" name="{{ observation_details.observation.name }}" addatatype="{{ observation_details.observation.permitted_data_type }}">
						<div class="observation-details row" name="{{ observation_details.observation.name }}">
							<div class="observation-name obs-field" id="observation-name" style="width: 17%;" value="{{observation_details.observation.name}}">
								<a href="/app/observation/{{ observation_details.observation.name }}" title="{{ __('Observation') }}">
									{% if (observation_details.template_reference.preferred_display_name) { %}
										{%= observation_details.template_reference.preferred_display_name %}
									{% } else { %}
										{%= observation_details.observation.observation_template %}
									{% } %}
								</a>
							</div>
							<div class="obs-field" style="width: 19%;">
								{% if (observation_details.observation.posting_datetime) { %}
									{{ frappe.datetime.global_date_format(observation_details.observation.posting_datetime) }}
								{% } %}
							</div>
							<div class="result obs-field" style="width: 20%;">
								{% if( ['Range', 'Ratio'].includes(observation_details.observation.permitted_data_type)) { %}
									<div class="">
										<input class="input-with-feedback form-control result-text" type="text" id="{{observation_details.observation.name}}" name="fname" size="6" value="{{ observation_details.observation.result_data }}">
								{% } else if (['Quantity', 'Numeric'].includes(observation_details.observation.permitted_data_type)) { %}
									<div class="">
										<input class="input-with-feedback form-control result-text" type="text" id="{{observation_details.observation.name}}" name="fname" size="6" value="{{ observation_details.observation.result_float }}">
										
								{% } else if (observation_details.observation.permitted_data_type=='Select') { %}
									<div class="">
									<select class="input-with-feedback form-control ellipsis result-text" id="{{observation_details.observation.name}}">
										{% for (let opts in observation_details.observation.options_list) { %}
										{{observation_details.observation.options_list[opts]}}
										{% var selected = "" %}
										{% if (observation_details.observation.options_list[opts] == 'Dark Yellow') { %}
											{% selected = "selected" %}
										{% } %}
										<option value="{{observation_details.observation.options_list[opts]}}">{{observation_details.observation.options_list[opts]}}</option>
										{% } %}
										</select>
								{% } %}
								{% if( ['Range', 'Ratio', 'Quantity', 'Numeric', 'Select'].includes(observation_details.observation.permitted_data_type)) { %}
								</div>
								{% } %}
							</div>
							<div class="obs-field" style="width: 7%;">
								{% if (observation_details.template_reference) { %}
									{%= observation_details.template_reference.permitted_unit %}
								{% } %}
							</div>
							<div class="obs-field" style="width: 20%;">
								{% if (observation_details.template_reference) { %}
									{%= observation_details.template_reference.method %}
								{% } %}
							</div>
							<div class="obs-field" style="width: 15%;">
								{% if (observation_details.template_reference.display_reference) { %}
									{{observation_details.template_reference.display_reference}}
								{% } %}
							</div>
						</div>
						{% if (observation_details.observation.permitted_data_type=='Text')  { %}
						<div class="obs-text">
							<textarea class="input-with-feedback form-control textresult-text result-text" type="text" id="{{observation_details.observation.name}}" name="fname" size="6" value="{{ observation_details.observation.result_text }}">{{ observation_details.observation.result_text }}</textarea>
						</div>
						{% } %}
						<div style="width: 100%; padding: 0px; padding-bottom:10px; padding-top:10px; display: flex;">
							<div style="width: 10%;">
								<span class="add-note-observation-btn btn btn-link">
									<svg class="icon icon-sm"><use xlink:href="#icon-small-message"></use></svg>
								</span>
							</div>
						<div class="remarks">
							{% if (observation_details.observation.remarks)  { %}
								{{observation_details.observation.remarks}}
							{% } %}
						</div>
					</div>
					</div>
				{% } %}
		</div>
	</div>
</div>
	</div>


<style>

</style>