{% extends "frappe/templates/web.html" %}

{% block script %}
<script src="book_patient_appointment.js"></script>
{% endblock %}

{% block content %}
{{ include_style('healthcare-web.bundle.css') }}
<div style='text-align:center;'>
	<!-- <p class="mt-0 small text-muted">Select Department</p> -->
</div>
<section class="section-bg container">
	<head>
		<title>Book Appointment</title>
	</head>
	<body>
		<br>
		<div class="col-sm-12">
			<ul class="breadcrumb">
				<li><a href="/" style="color:black;" >Home</a> > </li>
				<li><a href="/departments" style="color:black;">&nbsp;Departments</a> > </li>
				<li><a href="/practitioners" style="color:black;">&nbsp;Practitioner</a> > </li>
				<li style="color:rgb(175, 173, 173);">&nbsp;Book Appointment</a></li>
			  </ul>
		</div>
		<div class="text-center mt-5">
	            <p class="lead text-muted" id="lead-text">Select the date and your timezone</p>
        </div>
		<div class="row justify-content-center mt-3">
            <div class="col-md-6 align-self-center ">
                <div class="row">
					<select name="appointment-timezone" oninput="on_date_or_timezone_select()" id="appointment-timezone"
                        class="form-control m-3 col-md">
                    </select>
                    <input type="date" oninput="on_date_or_timezone_select()" name="appointment-date"
                        id="appointment-date" class="form-control mt-3 col-md m-3">
                </div>
            </div>
        </div>
				
				<!-- <input class= "date_field" type="date" id="app_date" name="app_date" onchange="date_on_change(event);"> -->
	</div>
	<br><br>
	<div class="col-sm-12" id="slot_container" style="text-align: center;"></div>
	<div class="row justify-content-center mt-3">
		<div class="col-md-4 mb-3">
			<button class="btn btn-primary form-control" id="book-button">Book</button>
		</div>
	</div>
	  </body>
</section>
<br>
<script>
	var selected_practitioner = "{{ practitioner }}";
	var pract_image = "{{pract_details['image']}}"
	var pract_name = "{{pract_details['practitioner_name']}}"
</script>

{% endblock %}