{% extends "frappe/templates/web.html" %}

<!-- {% block script %}
<script src="select_date.js"></script>
{% endblock %} -->

{% block content %}
{{ include_style('healthcare-web.bundle.css') }}
<div style='text-align:center;'>
	<!-- <p class="mt-0 small text-muted">Select Department</p> -->
</div>
<section class="section-bg container">
	<head>
		<title>Book Appointment</title>
	</head>
	<body>
		<br>
		<div class="col-sm-12">
			<ul class="breadcrumb">
				<li><a href="/">Home</a> > </li>
				<li><a href="/select_department">Department</a> > </li>
				<li><a href="/select_practitioner">Practitioner</a></li>
			  </ul>
		</div>
		<div class="text-center mt-5">
	            <p class="lead text-muted" id="lead-text">Select the date and your timezone</p>
        </div>
		<div class="row justify-content-center mt-3">
            <div class="col-md-6 align-self-center ">
                <div class="row">
                    <input type="date" oninput="on_date_or_timezone_select()" name="appointment-date"
                        id="appointment-date" class="form-control mt-3 col-md m-3">
                    <select name="appointment-timezone" oninput="on_date_or_timezone_select()" id="appointment-timezone"
                        class="form-control m-3 col-md">
                    </select>
                </div>
            </div>
        </div>
				
				<!-- <input class= "date_field" type="date" id="app_date" name="app_date" onchange="date_on_change(event);"> -->
	</div>
	<br><br><br>
	<div class="col-sm-12" id="slot_container" style="text-align: center;"></div>
	<div class="row justify-content-center mt-3">
		<div class="col-md-4 mb-3">
			<button class="btn btn-primary form-control" id="next-button">Book</button>
		</div>
	</div>
	  </body>
</section>
<br>
<script>
	var selected_practitioner = "{{ selected_practitioner }}";
</script>

{% endblock %}